<div class="row" style="margin-bottom:2em">
  <div class="col-xs-12">
    <ul class="list-inline">
      <li><a href="{{ path('about') }}">Sobre este sitio</a></li>
      <li><a href="{{ path('api_intro') }}">API</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <p>
      Diseñado, construido y mantenido por <a href="https://github.com/fiskhandlarn">fiskhandlarn</a>. Based on <a href="https://github.com/thronesdb/thronesdb">ThronesDB</a>.
      Contact:
      <a href="https://twitter.com/DoomtrooperDB" title="Twitter"><span class="fab fa-twitter"></span></a>
      <a href="mailto:info@doomtrooperdb.com" title="E-mail"><span class="fas fa-envelope"></span></a>
    </p>

    <p>
      Cards data and images gathered from <a href="http://ccggamez.com/index.php?opcja=gra&idgry=4">ccggamez.com</a> and <a href="http://doomtrooperdb.altervista.org/">doomtrooperdb.altervista.org</a>.
    </p>

    <p>
      Por favor, indicanos cualquier error, sugerencia o petición de caracterísitcas en <a href="https://github.com/fiskhandlarn/doomtrooperdb/issues">GitHub</a>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      La información presentada en este sitio sobre Doomtrooper, tanto la
      gráfica como la literal, está bajo los derechos de
      Target Games. Este sitio no está producido, aprobado, apoyado ni afiliado con Target Games.
    </p>
  </div>
</div>
