<div class="row" style="margin-bottom:2em">
  <div class="col-xs-12">
    <ul class="list-inline">
      <li><a href="{{ path('about') }}">Über diese Seite</a></li>
      <li><a href="{{ path('api_intro') }}">API</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <p>
      Designt, entwickelt und betrieben von <a href="https://github.com/fiskhandlarn">fiskhandlarn</a>. Based on <a href="https://github.com/thronesdb/thronesdb">ThronesDB</a>.
      Kontakt:
      <a href="https://twitter.com/DoomtrooperDB" title="Twitter"><span class="fab fa-twitter"></span></a>
      <a href="mailto:info@doomtrooperdb.com" title="E-mail"><span class="fas fa-envelope"></span></a>
    </p>

    <p>
      Kartendaten und -bilder(?) gathered from <a href="http://ccggamez.com/index.php?opcja=gra&idgry=4">ccggamez.com</a> and <a href="http://doomtrooperdb.altervista.org/">doomtrooperdb.altervista.org</a>.
    </p>

    <p>
      Berichte über Bugs und Anregungen und Wünsche zur Weiterentwicklung der Seite bitte an <a href="https://github.com/fiskhandlarn/doomtrooperdb/issues">GitHub</a>.
    </p>
</p>
</div>
<div class="col-md-4">
  <p>
    Die auf dieser Seite dargestellten Informationen über Doomtrooper, sowohl in Text als auch in Bild,
    unterliegen dem Copyright von Target Games.
    Diese Seite wird von Target Games weder entwickelt, betrieben, noch unterstützt und steht in keiner
    Verbindung zu Target Games.
  </p>
</div>
</div>
