!/var/cache
!/var/logs
!/var/sessions
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
.phpcs-cache
/.web-server-pid
/app/config/parameters.yml
/build/
/node_modules
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
public/bundles/
public/css
public/fonts
public/images
public/js
public/mix-manifest.json
src/AppBundle/Resources/public/js/translations
