@font-face {
  font-family: 'doomtrooperdb';
  src: url('../fonts/doomtrooperdb.woff?tvp2pg') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'doomtrooperdb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-general:before {
  content: "\e906";
}
.icon-crescentia:before {
  content: "\e904";
}
.icon-cybertronic:before {
  content: "\e905";
}
.icon-capitol:before {
  content: "\e903";
}
.icon-brotherhood:before {
  content: "\e902";
}
.icon-bauhaus:before {
  content: "\e901";
}
.icon-legion:before {
  content: "\e900";
}
.icon-lutheran:before {
  content: "\e615";
}
.icon-templars:before {
  content: "\e617";
}
.icon-alliance:before {
  content: "\e602";
}
.icon-imperial:before {
  content: "\e604";
}
.icon-art:before {
  content: "\e605";
}
.icon-mishima:before {
  content: "\e606";
}
.icon-beast:before {
  content: "\e607";
}
.icon-equipment:before {
  content: "\e60b";
}
.icon-fortification:before {
  content: "\e60c";
}
.icon-mission:before {
  content: "\e60e";
}
.icon-relic:before {
  content: "\e60f";
}
.icon-special:before {
  content: "\e610";
}
.icon-symmetry:before {
  content: "\e611";
}
.icon-ki:before {
  content: "\e60d";
}
.icon-warrior:before {
  content: "\e613";
}
.icon-warzone:before {
  content: "\e614";
}
.icon-rasputin:before {
  content: "\e616";
}
